@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="post">
<textarea id="texto"></textarea>
<button id="disparar">Publicar</button>
</div>
<div id="publicacoes">

</div>
<script>
    const publicacoes = document.querySelector("#publicacoes");

    fetch("http://localhost:5293/api/Publicacao")
    .then(m => m.json())
    .then(data=>{
        for(pub of data){
            publicacoes.innerHTML += `
                <p>
                    <b>${pub.perfilId}</b><br>
                    ${pub.texto}
                </p>
            `
        }
    })
</script>